# An√°lise de Vendas de Video Games com Machine Learning üéÆ

Neste projeto, utilizarei um dataset p√∫blico com informa√ß√µes sobre vendas globais de jogos eletr√¥nicos. O objetivo √© entender os fatores que influenciam o sucesso de vendas de um jogo, utilizando t√©cnicas de Machine Learning para prever se um jogo ser√° ou n√£o um sucesso (com base em suas caracter√≠sticas como g√™nero, plataforma e regi√£o de vendas).

Este notebook ser√° desenvolvido para as etapas:
1. Entendimento e explora√ß√£o dos dados
2. Limpeza e transforma√ß√£o
3. Cria√ß√£o da vari√°vel-alvo (target)
4. Criar tabela calend√°rio para uso posterior no Power Bi

In [1]:
import pandas as pd

In [2]:
# Importa√ß√£o
df_vgchartz = pd.read_csv("C:/data/Video Game Sales/raw/vgchartz-2024.csv")
df_vg_data_dictionary = pd.read_csv("C:/data/Video Game Sales/raw/vg_data_dictionary.csv")

## Entendimento Inicial dos Dados

In [3]:
df_vg_data_dictionary

           Field                                     Description
0            img        URL slug for the box art at vgchartz.com
1          title                                      Game title
2        console               Console the game was released for
3          genre                               Genre of the game
4      publisher                           Publisher of the game
5      developer                           Developer of the game
6   critic_score                    Metacritic score (out of 10)
7    total_sales              Global sales of copies in millions
8       na_sales      North American sales of copies in millions
9       jp_sales            Japanese sales of copies in millions
10     pal_sales  European & African sales of copies in millions
11   other_sales       Rest of world sales of copies in millions
12  release_date                   Date the game was released on
13   last_update                  Date the data was last updated

In [4]:
df_vgchartz.info()
df_vgchartz.describe()
df_vgchartz.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

img                 0
title               0
console             0
genre               0
publisher           0
developer          17
critic_score    57338
total_sales     45094
na_sales        51379
jp_sales        57290
pal_sales       51192
other_sales     48888
release_date     7051
last_update     46137
dtype: int64

In [5]:
df_vgchartz.head()

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

## Limpeza e Transforma√ß√£o dos Dados

#### Sele√ß√£o de colunas
##### Convers√£o da release_date para datetime, Cria√ß√£o da coluna Ano e Sele√ß√£o das colunas relevantes para a an√°lise, mantendo apenas os campos considerados essenciais: `title`, `console`, `genre`, `publisher`, `developer` e `release_date`.

In [6]:
df_vgchartz["release_date"] = pd.to_datetime(df_vgchartz["release_date"], errors="coerce")
# O parametro errors="coerce" faz com que ignore erros e transforma valores inv√°lidos em NaT (Not a Time)
df_vgchartz["ano"] = df_vgchartz["release_date"].dt.year.astype('Int64')

df_vgchartz.head()

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update,ano
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN,2013
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03,2014
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN,2002
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN,2013
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14,2015

##### Convers√£o da release_date para datetime

In [7]:
df_vgchartz["release_date"] = pd.to_datetime(df_vgchartz["release_date"], errors="coerce")
# O parametro errors="coerce" faz com que ignore erros e transforma valores inv√°lidos em NaT (Not a Time)

##### Cria√ß√£o da coluna Ano

In [8]:
df_vgchartz["ano"] = df_vgchartz["release_date"].dt.year.astype('Int64')
df_vgchartz.head()

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update,ano
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN,2013
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03,2014
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN,2002
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN,2013
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14,2015

##### Sele√ß√£o dos consoles mais relevantes para a an√°lise e dicion√°rio de mapeamento por fabricante de console

In [9]:
# Esta lista ir√° filtrar os consoles mais representativos do mercado de games
consoles_validos = ['PS', 'PS2', 'PS3', 'PS4', 'PS5', 'PSP', 'PSP', 'PSV', 
        'XB', 'X360', 'XOne', 'XS', 'XBL', 'Wii', 'WiiU', 'NS', 'DS', '3DS',
       'GBA', 'GB', 'NES', 'SNES', 'N64', 'GC', 'DSiW', 'VB', 'VC', 'GBC',
       'DS', 'GEN', 'SAT', 'DC', 'NG', 'SCD', 'GG', 'MS', 'Linux', 'PC',
        'And', 'iOS', '3DO']


# Dicion√°rio de mapeamento por fabricante de console
fabricante_consoles = {
    # Sony
    'PS': 'Sony', 'PS2': 'Sony', 'PS3': 'Sony',
    'PS4': 'Sony', 'PS5': 'Sony', 'PSP': 'Sony', 'PSV': 'Sony',
    
    # Microsoft
    'XB': 'Microsoft', 'X360': 'Microsoft', 'XOne': 'Microsoft', 
    'XS': 'Microsoft', 'XBL': 'Microsoft', 

    # Nintendo
    'Wii': 'Nintendo', 'WiiU': 'Nintendo', 'NS': 'Nintendo',
    'DS': 'Nintendo', '3DS': 'Nintendo', 'GBA': 'Nintendo',
    'GB': 'Nintendo', 'NES': 'Nintendo', 'SNES': 'Nintendo',
    'N64': 'Nintendo', 'GC': 'Nintendo', 'DSiW' :'Nintendo',
    'VB' :'Nintendo', 'VC' :'Nintendo', 'GBC' :'Nintendo',
    'DS' :'Nintendo',

    # Sega
    'GEN': 'Sega', 'SAT': 'Sega', 'DC': 'Sega',
    'MS': 'Sega', 'GG': 'Sega', 'SCD': 'Sega',

    # SNK
    'NG': 'SNK'
}

In [10]:
# Cria√ß√£o da coluna 'fabricante' para agrupar os consoles por empresa desenvolvedora
# (Sony, Microsoft, Nintendo, Sega ou Outros).
df_vgchartz['console_fabricator'] = df_vgchartz['console'].map(fabricante_consoles).fillna('Outros')
df_vgchartz = df_vgchartz[["title", "console", "console_fabricator", "genre", "publisher", "developer", "release_date", "ano", "total_sales", "na_sales", "jp_sales", "pal_sales", "other_sales"]]

In [11]:
df_vgchartz_filtrado = df_vgchartz[df_vgchartz['console'].isin(consoles_validos)].copy()

In [12]:
df_vgchartz_filtrado.head()

,title,console,console_fabricator,genre,publisher,developer,release_date,ano,total_sales,na_sales,jp_sales,pal_sales,other_sales
0,Grand Theft Auto V,PS3,Sony,Action,Rockstar Games,Rockstar North,2013-09-17,2013,20.32,6.37,0.99,9.85,3.12
1,Grand Theft Auto V,PS4,Sony,Action,Rockstar Games,Rockstar North,2014-11-18,2014,19.39,6.06,0.60,9.71,3.02
2,Grand Theft Auto: Vice City,PS2,Sony,Action,Rockstar Games,Rockstar North,2002-10-28,2002,16.15,8.41,0.47,5.49,1.78
3,Grand Theft Auto V,X360,Microsoft,Action,Rockstar Games,Rockstar North,2013-09-17,2013,15.86,9.06,0.06,5.33,1.42
4,Call of Duty: Black Ops 3,PS4,Sony,Shooter,Activision,Treyarch,2015-11-06,2015,15.09,6.18,0.41,6.05,2.44

In [13]:
# Adiciona o conte√∫do de "N√£o informado" nos 17 registros nulos da coluna develope
df_vgchartz_filtrado["developer"] = df_vgchartz_filtrado["developer"].fillna("N√£o informado")

In [14]:
df_vgchartz_filtrado.isnull().sum()

title                     0
console                   0
console_fabricator        0
genre                     0
publisher                 0
developer                 0
release_date           6648
ano                    6648
total_sales           38152
na_sales              44417
jp_sales              50209
pal_sales             44233
other_sales           41936
dtype: int64

### üìå Tratamento de Valores Ausentes

Durante a an√°lise inicial, foi poss√≠vel observar uma grande quantidade de valores ausentes em colunas importantes como `release_date`, `critic_score`, `total_sales` e nas colunas de vendas regionais: `na_sales`, `jp_sales`, `pal_sales` e `other_sales`. Essas informa√ß√µes s√£o essenciais tanto para a cria√ß√£o da vari√°vel alvo (`total_sales`) quanto para a constru√ß√£o de modelos de Machine Learning com uma base consistente.

#### ‚úÖ Decis√µes tomadas:

1. **Remo√ß√£o de linhas com `release_date` e `ano` ausentes**  
   Essas colunas s√£o fundamentais para an√°lises temporais e identifica√ß√£o de tend√™ncias de vendas ao longo dos anos. Como o preenchimento artificial de datas poderia comprometer a integridade da an√°lise, optei por remover os registros com esses campos nulos.

2. **Substitui√ß√£o de valores ausentes por zero nas colunas de vendas regionais**  
   Para lidar com os valores nulos nas colunas `na_sales`, `jp_sales`, `pal_sales` e `other_sales`, foi realizada a substitui√ß√£o (`fillna(0)`), assumindo que a aus√™ncia de dado poderia indicar aus√™ncia de vendas naquela regi√£o. Com isso, foi poss√≠vel gerar um valor v√°lido para a coluna `total_sales`.

3. **Recria√ß√£o da coluna `total_sales`**  
   A coluna `total_sales` foi recalculada como a soma das vendas por regi√£o. Isso permitiu recuperar registros que originalmente tinham valor ausente em `total_sales`, mas com informa√ß√µes regionais v√°lidas.

4. **Remo√ß√£o de linhas com `total_sales = 0`**  
   Por fim, foram removidos os registros que, mesmo ap√≥s o preenchimento, continuavam com valor zero na soma total de vendas ‚Äî o que indica que n√£o h√° dados √∫teis de vendas para esse jogo.

#### üìä Resultado final

- Total de registros originais: **56.000+**
- Ap√≥s limpeza e transforma√ß√µes: **17.298 registros v√°lidos**

Embora tenha havido uma redu√ß√£o consider√°vel no n√∫mero de dados, os registros restantes s√£o suficientemente representativos para fins de **aprendizado** e constru√ß√£o de um projeto de **portf√≥lio** com qualidade e coer√™ncia anal√≠tica.

In [15]:
# Deletando linhas sem registros em release_date e ano
df_vgchartz_filtrado.dropna(subset=["release_date", "ano"], inplace=True)
df_vgchartz_filtrado.isnull().sum()

title                     0
console                   0
console_fabricator        0
genre                     0
publisher                 0
developer                 0
release_date              0
ano                       0
total_sales           31592
na_sales              37785
jp_sales              43599
pal_sales             37631
other_sales           35343
dtype: int64

In [16]:
# Substituir todos os NaN do DataFrame por 0

# Lista de colunas de vendas regionais
colunas_vendas = ['na_sales', 'jp_sales', 'pal_sales', 'other_sales']

# Substituindo NaN por 0 apenas nessas colunas
df_vgchartz_filtrado[colunas_vendas] = df_vgchartz_filtrado[colunas_vendas].fillna(0)

# Atualizando a coluna total_sales com a soma das colunas regionais
df_vgchartz_filtrado['total_sales'] = df_vgchartz_filtrado[colunas_vendas].sum(axis=1)

In [17]:
df_vgchartz_filtrado.isnull().sum()

title                 0
console               0
console_fabricator    0
genre                 0
publisher             0
developer             0
release_date          0
ano                   0
total_sales           0
na_sales              0
jp_sales              0
pal_sales             0
other_sales           0
dtype: int64

In [18]:
# Removendo linhas onde total_sales √© 0
df_vgchartz_filtrado = df_vgchartz_filtrado[df_vgchartz_filtrado['total_sales'] > 0].reset_index(drop=True)

In [19]:
df_vgchartz_filtrado.isnull().sum()
df_vgchartz_filtrado.info()
df_vgchartz_filtrado.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17298 entries, 0 to 17297
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               17298 non-null  object
 1   console             17298 non-null  object
 2   console_fabricator  17298 non-null  object
 3   genre               17298 non-null  object
 4   publisher           17298 non-null  object
 5   developer           17298 non-null  object
 6   release_date        17298 non-null  datetime64[ns]
 7   ano                 17298 non-null  Int64
 8   total_sales         17298 non-null  float64
 9   na_sales            17298 non-null  float64
 10  jp_sales            17298 non-null  float64
 11  pal_sales           17298 non-null  float64
 12  other_sales         17298 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(5), object(6)
memory usage: 1.7+ MB

,release_date,ano,total_sales,na_sales,jp_sales,pal_sales,other_sales
count,17298,17298.0,17298.000000,17298.000000,17298.000000,17298.000000,17298.000000
mean,2008-06-03 23:00:18.730489344,2007.85137,0.376567,0.189244,0.039457,0.110371,0.037496
min,1984-11-14 00:00:00,1984.0,0.010000,0.000000,0.000000,0.000000,0.000000
25%,2004-09-28 00:00:00,2004.0,0.050000,0.000000,0.000000,0.000000,0.000000
50%,2008-10-28 00:00:00,2008.0,0.130000,0.060000,0.000000,0.020000,0.010000
75%,2011-11-23 18:00:00,2011.0,0.380000,0.190000,0.020000,0.090000,0.030000
max,2020-12-31 00:00:00,2020.0,20.330000,9.760000,2.130000,9.850000,3.120000
std,NaN,5.767091,0.836385,0.436114,0.116270,0.344294,0.118976

### Cria√ß√£o do Target
Para fins de modelagem e simplifica√ß√£o do problema, defini como ‚Äòsucesso‚Äô os jogos que venderam mais de 1 milh√£o de unidades no mundo. Esse n√∫mero, embora arbitr√°rio, √© frequentemente usado como refer√™ncia no mercado de games como um marco significativo de desempenho comercial. Al√©m disso, ele corresponde a aproximadamente 8,5% da base de dados, o que oferece um bom desafio de classifica√ß√£o.

In [20]:
df_vgchartz_filtrado['Sucesso'] = (df_vgchartz_filtrado['total_sales'] > 1.0).astype(int)
df_vgchartz_filtrado['Sucesso'].value_counts(normalize=True)

Sucesso
0    0.915424
1    0.084576
Name: proportion, dtype: float64

### Cria√ß√£o de tabela calend√°rio

In [21]:
data_min = df_vgchartz_filtrado['release_date'].min()
data_max = df_vgchartz_filtrado['release_date'].max()

df_tabela_calendario = pd.DataFrame({
    'date': pd.date_range(start=data_min, end=data_max, freq='D')
})

df_tabela_calendario['ano'] = df_tabela_calendario['date'].dt.year
df_tabela_calendario['mes'] = df_tabela_calendario['date'].dt.month
df_tabela_calendario['nome_mes'] = df_tabela_calendario['date'].dt.month_name()
df_tabela_calendario['trimestre'] = df_tabela_calendario['date'].dt.to_period('Q').astype(str)
df_tabela_calendario['dia_da_semana'] = df_tabela_calendario['date'].dt.day_name()
df_tabela_calendario['fim_de_semana'] = df_tabela_calendario['date'].dt.weekday >= 5
df_tabela_calendario['ano_mes'] = df_tabela_calendario['date'].dt.to_period('M').astype(str)

## Exporta√ß√£o de dados transformados

In [22]:
df_vgchartz_filtrado.to_csv("video_game_sales_com_target.csv", index=False, encoding="utf-8")
df_tabela_calendario.to_csv("tabela_calendario.csv", index=False, encoding="utf-8")